spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: transformer-service-route
          uri: http://transformerservice:9020
          predicates:
            - Path=/api/transformer/**
        
        - id: ml-service-route
          uri: http://mlservice:9010
          predicates:
            - Path=/api/ml/**
          filters:
            - RewritePath=/api/ml/(?<segment>.*), /${segment}
      
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:3000"
              - "http://127.0.0.1:3000"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowed-headers: "*"
            allow-credentials: true
            max-age: 3600

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /docs
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    use-root-path: false
    persist-authorization: true
  show-actuator: false
  default-flat-param-object: true
  writer-with-order-by-keys: true

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG